<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baifan.myapplication">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名 -->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.example.baifan.myapplication" />

    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.example.baifan.myapplication"
        android:protectionLevel="signature" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度地图key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="azrbHW8CGeAEMt4MyLSplNCAodv7xZwG" />

        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchActivity" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="关于" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.baifan.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.RegActivity" />
        <activity android:name=".activity.Game1Activity" />
        <activity android:name=".activity.Game2Activity" />
        <activity android:name=".activity.Game3Activity" />
        <activity android:name=".activity.Search2Activity" />
        <activity
            android:name=".activity.SelectPicPopupWindow"
            android:theme="@style/MyDialogStyleBottom" />

        <!-- 会话界面 -->
        <activity
            android:name=".activity.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.example.baifan.myapplication"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SpecificActivity" />
        <!-- 会话列表 -->
        <activity
            android:name=".activity.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.example.baifan.myapplication"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyGoodsActivity" />
        <activity android:name=".activity.SearchResultActivity" />
        <activity android:name=".activity.MyGoodsSpecificActivity" />
        <activity android:name=".activity.AccountManagementActivity" />
        <activity android:name=".activity.CoinMallActivity" />
        <activity android:name=".activity.OpinionActivity" />
        <activity android:name=".activity.PictureActivity" />
        <activity android:name=".activity.MyOrdersActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.MyOrdersSpecificActivity" />
        <activity android:name=".activity.MySellsActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.EvaluateActivity" />
        <activity android:name=".activity.MallActivity" />

        <!-- push service start -->
        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求 -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>

        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名 -->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="YourPackageName.bdpush"
            android:exported="true"
            android:protectionLevel="signature"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.example.baifan.myapplication" />

        <!-- push结束 -->
        <!-- 注册自己的Receiver -->
        <!-- 此处Receiver名字修改为当前包名路径 -->
        <receiver android:name=".utils.PushTestReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind、setTags等method的返回结果 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- 接收通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        <!-- 注册自己的融云IM  Receiver -->
        <receiver
            android:name=".utils.RongIMNotificationReceive"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ManagerActivity" />
        <activity android:name=".activity.CheckUserOpinionActivity" />
        <activity android:name=".activity.UserOpinionSpecificActivity" />
        <activity android:name=".activity.PrizeSpecificActivity" />
        <activity android:name=".activity.RankinglistActivity" />
        <activity android:name=".activity.RecordActivity" />
        <activity android:name=".activity.MySellsSpecificActivity" />
        <activity android:name=".activity.Evaluate2Activity" />
        <activity android:name=".activity.AlterGoodsActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ShareSelectActivity"
            android:theme="@style/MyDialogStyleBottom" />
        <activity android:name=".activity.AddPrizeActivity" />

        <!-- qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101466661" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.BindingActivity" />
        <activity android:name=".activity.BindingRegActivity" />
        <activity android:name=".activity.NoticeActivity" />
        <activity android:name=".activity.NoticeSpecificActivity" />
        <activity android:name=".activity.AlterPrizeActivity" />
        <activity android:name=".activity.UserActivity" />
        <activity android:name=".activity.WeatherActivity" />
        <activity android:name=".activity.CommentActivity" />
        <activity android:name=".activity.ForgetActivity"></activity>
    </application>

</manifest>